#container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 0%;
}
#container-main > * {
  margin: 10px;
}

#container-main > * :hover {
  color: gray;
  text-decoration: none;
}
footer {
position:absolute;
left:0;
bottom:10%;
right:0;
}