#container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 10%;
  margin-left: 10%;
}
#container-main > * {
  margin: 10px;
}

#container-main > * :hover {
  color: rgb(59, 59, 247);
}